* {
  margin: 0;
  border: 0;
  padding: 0;
}

/* MOBILE SIZE MEDIA QUERY */
@media only screen and (max-width: 767px) {
  body {
    background-position: 0% 1.5%;
    background-size: 100%;
    background-image: url("../images/headline-background-mobile.png");
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bolder;
  }

  header {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 90px;
  }

  section {
    width: 100%;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 120px;
  }

  ul {
    list-style: none;
  }

  li {
    margin-right: 15px;
  }

  a {
    text-decoration: none;
  }

  nav {
    margin: 0;
    padding: 0;
  }

  hr {
    width: 90%;
    margin: 2px auto 2px auto;
    padding: 0;
    border-bottom: solid 1px #dfe1e6;
  }

  .poppins {
    font-family: Poppins, sans-serif;
  }

  .container-2 {
    font-family: Poppins, sans-serif;
    width: 90%;
    margin-top: 24px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .overlay {
    display: none;
  }

  .show {
    position: fixed;
    display: block;
    background-color: rgb(96, 112, 255, 0.8);
    width: 100%;
    height: 810px;
    left: 0;
    top: 0;
    right: 0;
  }

  .toolbar-2 {
    display: flex;
    justify-content: right;
    margin-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .overlay-ul {
    margin-top: 15px;
  }

  .overlay-li {
    padding-left: 20px;
  }

  .a-li {
    color: #fff;
    font-size: 32px;
    line-height: 56px;
    font-weight: 550;
    margin-left: 2%;
    margin-top: 26%;
  }

  .cancel1 {
    padding-top: 10px;
    padding-left: 8px;
  }

  .container-5 {
    display: none;
  }

  /* Section Headline */
  .headline {
    margin: 20px 0 20px 0;
    color: #172b4d;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .logo-txt {
    color: #5664e5;
    font-weight: bold;
    font-size: 18px;
  }

  .name {
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .desc {
    margin-top: 14px;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 400;
    width: 90%;
    line-height: 1.5;
    text-align: justify;
  }

  .connect {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    color: #7f8cff;
    font-weight: 400;
  }

  .container-3 {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
  }

  .linkedin,
  .m,
  .github,
  .angellist {
    padding-left: 5px;
    padding-right: 5px;
  }

  .m {
    width: 22px;
    height: 22px;
    margin-top: 2px;
  }

  /* Section Works */
  .works {
    width: 100%;
  }

  .grid-1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 680px 685px 680px 685px;
  }

  .grid-1b {
    display: none;
  }

  .work1 {
    background-color: #fff;
    border: solid 1px #dfe1e6;
    border-radius: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }

  .desc2 {
    font-size: 16px;
    font-weight: 500;
    color: #344563;
    line-height: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
  }

  .work1-img {
    display: block;
    width: 90%;
    height: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .work-text1 {
    margin-top: 8px;
    font-size: 32px;
    color: #172b4d;
    width: 70%;
    margin-left: 5%;
    margin-bottom: 10px;
  }

  .canopy {
    color: #344563;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

  .bed,
  .year {
    color: #7a869a;
    font-size: 12px;
    font-weight: 600;
  }

  .dot {
    margin: 0;
    padding: 0;
    width: 60%;
    height: auto;
  }

  .stack {
    font-size: 12px;
    color: #4c5ace;
    float: left;
    background-color: #ebebff;
    padding: 4px 12px 4px 12px;
    border-radius: 4px;
    margin-right: 5%;
    margin-bottom: 4%;
  }

  .flex1,
  .flex2 {
    margin-left: 5%;
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .float1 {
    float: right;
    margin-left: 5%;
  }

  .see-project {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    color: #396df2;
    border: solid 1px #396df2;
    padding: 12px;
    border-radius: 4px;
    margin-left: 5%;
    margin-right: auto;
  }

  .see-project:hover {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #6070ff;
    color: #fff;
    border: solid 1px #fff;
    padding: 12px;
    border-radius: 4px;
    margin-left: 5%;
    margin-right: auto;
  }

  .see-project:active {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #2230d2;
    color: #fff;
    border: solid 1px #fff;
    padding: 12px;
    border-radius: 4px;
    margin-left: 5%;
    margin-right: auto;
  }

  /* Section About Myself */
  .about_myself {
    margin: 20px 0 20px 0;
    color: #172b4d;
    display: flex;
    flex-direction: column;
  }

  .about {
    width: 90%;
    color: #172b4d;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .desc4 {
    margin-top: 14px;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 400;
    width: 90%;
    line-height: 1.5;
    text-align: justify;
  }

  .container-4 {
    display: flex;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .my-resume {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    color: #396df2;
    border: solid 1px #396df2;
    padding: 12px;
    border-radius: 4px;
    margin-left: 5%;
    margin-right: auto;
    margin-bottom: 15px;
  }

  .my-resume:hover {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #6070ff;
    color: #fff;
    border: solid 1px #fff;
    padding: 12px;
    border-radius: 4px;
    margin-left: 5%;
    margin-right: auto;
  }

  .my-resume:active {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #2230d2;
    color: #fff;
    border: solid 1px #fff;
    padding: 12px;
    border-radius: 4px;
    margin-left: 5%;
    margin-right: auto;
  }

  .languages {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
    width: 80%;
  }

  .frameworks,
  .skills {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    width: 80%;
  }

  .lang1 {
    width: 85%;
    margin: 10px auto 10px auto;
    display: flex;
    flex-direction: column;
  }

  .row1 {
    width: 100%;
    display: flex;
    padding-top: 4px;
    padding-bottom: 3px;
    background-color: #f7f7f9;
  }

  .li-sp {
    margin-bottom: 12px;
  }

  .arrow-down {
    width: 24px;
    height: 24px;
    background-color: #fff;
    background-blend-mode: multiply;
    vertical-align: middle;
  }

  .arrow-right {
    width: 24px;
    height: 24px;
    background-color: #fff;
    background-blend-mode: multiply;
    vertical-align: middle;
  }

  .lang,
  .frame,
  .skill {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #172b4d;
  }

  .lang-sub {
    margin-left: 6%;
  }

  .js,
  .html5,
  .css3 {
    font-size: 15px;
    color: #253858;
    font-weight: 500;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 5px;
    padding-left: 15px;
    width: 70%;
    vertical-align: middle;
  }

  .js-img,
  .html5-img,
  .css3-img {
    width: 17%;
    height: auto;
    padding: 4px;
  }

  /* Contact form section */
  #foot {
    box-sizing: border-box;
    background-image: url("../images/blue-background.png");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-position: 0% 1.5%;
    background-size: 100%;
    margin-bottom: 25px;
  }

  #contactf {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding-top: 29%;
  }

  .paragraph2 {
    color: #fff;
    padding: 4% 0 4% 0;
    margin: 0 auto 7% auto;
    font-weight: 400;
    font-size: 20px;
    width: 88%;
    line-height: 28px;
    text-align: center;
  }

  .box2 {
    background-color: #fff;
    border: solid 1px #cfd8dc;
    border-radius: 8px;
    width: 88%;
    height: 50px;
    color: #172b4d;
    margin: 0 auto 18px auto;
    vertical-align: middle;
  }

  .box3 {
    background-color: #fff;
    border: solid 1px #cfd8dc;
    border-radius: 8px;
    width: 88%;
    height: 170px;
    color: #b3bac5;
    margin: 0 auto 18px auto;
  }

  #names {
    font-size: 17px;
    margin-top: 10px;
    margin-left: 5px;
    width: 90%;
    color: #172b4b;
  }

  #names::placeholder {
    color: #172b4d;
    padding-left: 16px;
  }

  #email {
    vertical-align: middle;
    color: #172b4b;
    font-size: 17px;
    margin-top: 10px;
    margin-left: 5px;
    width: 90%;
  }

  #email::placeholder {
    color: #172b4b;
    padding-left: 16px;
  }

  #textarea {
    font-size: 17px;
    margin-top: 10px;
    margin-left: 5px;
    width: 90%;
    color: #959ba3;
  }

  #textarea::placeholder {
    color: #959ba3;
    padding-left: 16px;
    padding-top: 2px;
  }

  .label {
    display: none;
  }

  .button3 {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    color: #6070ff;
    border: solid 1px #6070ff;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    width: 132px;
    margin: 0 0 10% 5%;
  }

  .button3:hover {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #6070ff;
    color: #fff;
    border: solid 1px #fff;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    width: 132px;
    margin: 0 0 10% 5%;
  }

  .button3:active {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #2230d2;
    color: #fff;
    border: solid 1px #fff;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    width: 132px;
    margin: 0 0 10% 5%;
  }

  #myModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 45%;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(39, 4, 197, 0.4);
  }

  .modal-content {
    display: flex;
    background-color: #fefefe;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    vertical-align: middle;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 6px;
    width: 80%;
    font-family: "poppins", sans-serif;
    font-size: 18px;
    text-align: center;
    color: #2230d2;
    font-weight: 400;
  }

  .close {
    color: blue;
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 10px;
  }

  #delay {
    font-size: 40px;
    transition-property: font-size;
    transition-duration: 2s;
    transition-delay: 1s;
  }

  #delay:hover {
    font-size: 48px;
  }

  .grow {
    transition: all 0.2s ease-in-out;
  }

  .grow:hover {
    transform: scale(1.1);
  }

  .paragraph2:hover {
    transform: translate(16px, 0);
  }

  .rotate {
    animation: rotation 2s linear;
  }

  .rotate:hover {
    animation: rotation 2s linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }
}

/* DESKTOP SIZE MEDIA QUERY */
@media only screen and (min-width: 768px) {
  * {
    margin: 0;
    border: 0;
    padding: 0;
  }

  body {
    background-image: url("../images/bg-header.png");
    background-size: 100%;
    background-position: 0% -1.5%;
    background-repeat: no-repeat;
  }

  header {
    width: 100%;
    height: 72px;
    box-sizing: border-box;
    padding: 0% 5% 0% 5%;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 5px;
  }

  ul {
    list-style: none;
    margin-bottom: 20px;
  }

  li {
    margin-right: 15px;
  }

  a {
    text-decoration: none;
    vertical-align: middle;
  }

  hr {
    /* display: none; */
    width: 100%;
    margin: 10px auto 8px 0;
    padding: 0;
    border-bottom: solid 1px #dfe1e6;
  }

  #delay {
    font-size: 48px;
    transition-property: font-size;
    transition-duration: 2s;
    transition-delay: 1s;
  }

  #delay:hover {
    font-size: 56px;
  }

  .poppins {
    font-family: Poppins, sans-serif;
  }

  /* Toolbar */
  .container-2 {
    display: none;
  }

  .overlay {
    display: none;
  }

  .toolbar {
    padding-top: 16px;
    position: fixed;
    background-color: #fff;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    padding-top: 10px;
  }

  .nav-menu-text {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    color: #344563;
  }

  .container-5 {
    margin: 0 auto 0 auto;
    padding: 0% 8% 0% 8%;
    display: flex;
    justify-content: space-between;
  }

  .logo-txt {
    color: #5664e5;
    font-weight: bold;
    font-size: 18px;
    height: 24px;
    padding-top: 5px;
  }

  /* Headline section */
  .headline {
    padding: 150px 18% 0% 18%;
    color: #172b4d;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .name {
    color: #172b4d;
    padding-top: 75px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
  }

  .desc {
    font-size: 20px;
    font-weight: 400;
    color: #344563;
    line-height: 28px;
    padding-bottom: 20px;
  }

  .connect {
    width: 200px;
    margin-bottom: 8px;
    color: #1c33ff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  .container-3 {
    display: flex;
    margin-bottom: 200px;
  }

  /* Work Section */
  .works {
    margin: 50px 0 50px 0;
    width: 100%;
  }

  .grid-1 {
    display: none;
  }

  .grid-1b {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .rows {
    width: 80%;
    margin: 20px auto 20px auto;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    border: solid 1px #dfe1e6;
    border-radius: 24px;
    display: flex;
    gap: 20px;
  }

  .work1b {
    background-color: #fff;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .photo1 {
    box-sizing: border-box;
    width: 50%;
    height: auto;
    padding: 10px 10px 10px 10px;
  }

  .photo2 {
    box-sizing: border-box;
    width: 50%;
    height: auto;
    padding: 10px 10px 10px 10px;
  }

  .work1b-img {
    max-width: 90%;
    height: auto;
    object-fit: scale-down;
  }

  .work-text1b {
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
    color: #172b4d;
    margin-bottom: 20px;
  }

  .work-text1 {
    margin-top: 8px;
    font-size: 32px;
    color: #172b4d;
    width: 70%;
    margin-left: 5%;
    margin-bottom: 10px;
  }

  .canopy {
    color: #344563;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin: 5px 10px 5px 10px;
  }

  .bed,
  .year {
    color: #6b778c;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .desc2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #344563;
    margin-bottom: 28px;
    width: 90%;
  }

  .dot {
    margin: 0;
    padding: 0;
    width: 60%;
    height: auto;
  }

  .stack {
    font-size: 12px;
    line-height: 16px;
    color: #4c5ace;
    float: left;
    background-color: #ebebff;
    padding: 4px 12px 4px 12px;
    border-radius: 6px;
  }

  .flex1,
  .flex2 {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }

  .see-project {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    color: #396df2;
    border: solid 1px #396df2;
    padding: 12px;
    border-radius: 4px;
  }

  .see-project:hover {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #6070ff;
    color: #fff;
    border: solid 1px #fff;
    padding: 12px;
    border-radius: 4px;
  }

  .see-project:active {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #2230d2;
    color: #fff;
    border: solid 1px #fff;
    padding: 12px;
    border-radius: 4px;
  }

  .work1-img {
    display: block;
    width: 90%;
    height: auto;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Section About Myself */
  .about_myself {
    width: 80%;
    margin-bottom: 120px;
    color: #172b4d;
    display: flex;
    padding: 0% 10% 0% 10%;
  }

  .first {
    width: 40%;
    padding-right: 15px;
  }

  .about {
    width: 100%;
    color: #091e42;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }

  .desc4 {
    width: 95%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #344563;
    margin-bottom: 28px;
  }

  .container-4 {
    display: flex;
  }

  .my-resume {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    color: #396df2;
    border: solid 1px #396df2;
    padding: 12px;
    border-radius: 4px;
  }

  .my-resume:hover {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #6070ff;
    color: #fff;
    border: solid 1px #fff;
    padding: 12px;
    border-radius: 4px;
  }

  .my-resume:active {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #2230d2;
    color: #fff;
    border: solid 1px #fff;
    padding: 12px;
    border-radius: 4px;
  }

  .second {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }

  .languages {
    width: 90%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .frameworks,
  .skills {
    width: 90%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  ul.lang-sub {
    display: flex;
    margin-bottom: 5px;
    padding-left: 10px;
  }

  li.li-sp {
    display: flex;
    justify-content: space-between;
  }

  .languages,
  .frameworks,
  .skills {
    display: flex;
    justify-content: space-between;
  }

  .row1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    padding-bottom: 3px;
    background-color: #f7f7f9;
  }

  .li-sp {
    margin-bottom: 12px;
  }

  .arrow-down {
    width: 24px;
    height: 24px;
    background-color: #fff;
    background-blend-mode: multiply;
    vertical-align: middle;
  }

  .arrow-right {
    width: 24px;
    height: 24px;
    background-color: #fff;
    background-blend-mode: multiply;
    vertical-align: middle;
  }

  .lang,
  .frame,
  .skill {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    min-width: 350px;
  }

  .js,
  .html5,
  .css3 {
    font-size: 15px;
    color: #253858;
    font-weight: 500;
    line-height: 20px;
    width: 100px;
    vertical-align: middle;
    padding-left: 4px;
  }

  .js-img,
  .html5-img,
  .css3-img {
    width: 40%;
    height: auto;
    padding: 4px;
  }

  .resume-text {
    color: #396df2;
    font-size: 17px;
    text-align: center;
    width: 155px;
    padding: 10px;
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: #396df2;
  }

  /* Contact form section */
  #foot {
    box-sizing: border-box;
    background-image: url("../images/bg-contact.png");
    background-size: cover;
    background-position: right 100% top 0%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .form1 {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
  }

  #contactf {
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    width: 53%;
    height: 54px;
    font-size: 40px;
    line-height: 52px;
    font-weight: 600;
    color: #fff;
    text-align: center;
  }

  #desc3 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-top: 8px;
    width: 43%;
    font-weight: 400;
    font-size: 20px;
    color: #ebebff;
    line-height: 28px;
    text-align: center;
  }

  #names {
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    color: #172b4d;
    margin-top: 10px;
    margin-left: 10px;
    width: 94%;
  }

  #email {
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    color: #172b4d;
    margin-top: 13px;
    margin-left: 10px;
    width: 94%;
  }

  #textarea {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: #959ba3;
    margin-top: 13px;
    margin-left: 10px;
    width: 94%;
  }

  #names::placeholder {
    color: #172b4d;
  }

  #email::placeholder {
    color: #172b4d;
  }

  #textarea::placeholder {
    color: #959ba3;
  }

  .box2 {
    width: 33%;
    background-color: #fff;
    border: solid 1px #cfd8dc;
    border-radius: 8px;
    height: 50px;
    color: #172b4d;
    margin: 0 auto 18px auto;
  }

  .box3 {
    width: 33%;
    background-color: #fff;
    border: solid 1px #cfd8dc;
    border-radius: 8px;
    height: 170px;
    color: #b3bac5;
    margin: 0 auto 18px auto;
  }

  .label {
    display: none;
  }

  .button3 {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    color: #5664e5;
    border: solid 1px #6070ff;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    width: 132px;
    margin: 0 auto 70px auto;
  }

  .button3:hover {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #5664e5;
    color: #fff;
    border: solid 1px #fff;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    width: 132px;
    margin: 0 auto 70px auto;
  }

  .button3:active {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: #2230d2;
    color: #fff;
    border: solid 1px #fff;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    width: 132px;
    margin: 0 auto 70px auto;
  }

  #myModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 23%;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(39, 4, 197, 0.4);
  }

  .modal-content {
    display: flex;
    background-color: #fefefe;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    vertical-align: middle;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 6px;
    width: 80%;
    font-family: "poppins", sans-serif;
    font-size: 18px;
    text-align: center;
    color: #2230d2;
    font-weight: 400;
  }

  .close {
    color: blue;
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 10px;
  }

  .grow {
    transition: all 0.2s ease-in-out;
  }

  .grow:hover {
    transform: scale(1.1);
  }

  .paragraph2:hover {
    transform: translate(16px, 0);
  }

  .rotate {
    animation: rotation 2s linear;
  }

  .rotate:hover {
    animation: rotation 2s linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }
}
